body {
    background-color: black;
    color: #c8c8c8;
    font-family: arial, sans-serif;
    font-size: 14px;
}
input, select, textarea {
    background-color: #8c8c8c;
}

video {
    width: 640px;
    height: 480px;
    background-color: #00D000;
    border: 1px solid #818181;
    box-shadow: 0 0 15px black;
}

button {
    width: 50px;
    height: 40px;
    background-color: gray;
    margin: 5px;
    color: #3f3f3f;
}
button:hover {
    background-color: #bababa;
}

#height {
    transform: rotate(270deg);
}

#move_speed {
    width: 42px;
    height: 30px;
    text-align: center;
}

#battery, #state, #yaw {
    width: 45px;
    text-align: center;
}

#btnShutdown, #btnCalibration, #btnLedsOff, #btnStrobe {
    width: 100px;
    height: 35px;
}

#btnLedsOff, #btnStrobe {
    height: 30px;
}

#movement_tab, #attention_tab, #actions, #led_tab, #emotions {
    border: 1px solid #676767;
    display: inline-block;
    background-color: #3a3a3a;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 0 5px black;
}

#main {
    display: inline-block;
    text-align: center;
    max-width: 1025px;
    padding: 5px;
    background-color: #252525;
}